.portfolio
  %header.portfolio__header
    %h1.portfolio__header__title
      Yuichiro Onuki's portfolio
    %nav.portfolio__header__nav
      %ul.portfolio__header__nav__list
        %li.portfolio__header__nav__list__title.profile
          profile
        %li.portfolio__header__nav__list__title.skill
          skill
        %li.portfolio__header__nav__list__title.works
          works
        %li.portfolio__header__nav__list__title.contact
          contact
  %main.portfolio__main
    .portfolio__main__profile
      %h2.portfolio__main__profile__title 
        profile
      .portfolio__main__profile__box
        .portfolio__main__profile__box__icon
          = image_tag "my_icon.jpg", class: "portfolio__main__profile__box__icon__img"
        .portfolio__main__profile__box__text
          初めまして。大貫佑一郎と申します。
          %br
          現場監督として勤めていましたがエンジニアになるため退職。
          %br
          プログラミングスクールTECH::EXPERTに通い、
          %br
          70日間でおよそ800時間の猛勉強を経て現在転職活動中。
          %br
          将来は上流から下流までこなす、
          %br
          フルスタックエンジニアを目指しています。
          %br
          まだまだ駆け出しですが、
          %br
          時代の流れに沿って必要な技術を吸収し、
          %br
          お客様に喜ばれるサービスを、
          %br
          早く、正確に、安全に作るエンジニアになり
          %br
          IT業界の発展に貢献していきたいです。
    .portfolio__main__skill
      %h2.portfolio__main__skill__title
        skill
      .portfolio__main__skill__box
        .portfolio__main__skill__box__field
          .portfolio__main__skill__box__field__title
            フロントエンド
          %ul.portfolio__main__skill__box__field__lang
            言語
            %li.portfolio__main__skill__box__field__lang__list
              javascript
            %li.portfolio__main__skill__box__field__lang__list
              jQuery
          %ul.portfolio__main__skill__box__field__period
            経験年数
            %li.portfolio__main__skill__box__field__period__list
              １ヶ月
            %li.portfolio__main__skill__box__field__period__list
              １ヶ月
        .portfolio__main__skill__box__field
          .portfolio__main__skill__box__field__title
            バックエンド
          %ul.portfolio__main__skill__box__field__lang
            言語
            %li.portfolio__main__skill__box__field__lang__list-ruby
              %br
              ruby
              %br
              (Ruby on Rails)
          %ul.portfolio__main__skill__box__field__period
            経験年数
            %li.portfolio__main__skill__box__field__period__list-ruby
              %br
              3ヶ月
      .portfolio__main__skill__box
        .portfolio__main__skill__box__field
          .portfolio__main__skill__box__field__title
            コーディング
          %ul.portfolio__main__skill__box__field__lang
            言語
            %li.portfolio__main__skill__box__field__lang__list
              HTML
            %li.portfolio__main__skill__box__field__lang__list
              css
            %li.portfolio__main__skill__box__field__lang__list
              haml
            %li.portfolio__main__skill__box__field__lang__list
              sass
          %ul.portfolio__main__skill__box__field__period
            経験年数
            %li.portfolio__main__skill__box__field__period__list
              1ヶ月
            %li.portfolio__main__skill__box__field__period__list
              1ヶ月
            %li.portfolio__main__skill__box__field__period__list
              1ヶ月
            %li.portfolio__main__skill__box__field__period__list
              1ヶ月
        .portfolio__main__skill__box__field
          .portfolio__main__skill__box__field__title
            DB
          %ul.portfolio__main__skill__box__field__lang
            技術
            %li.portfolio__main__skill__box__field__lang__list
              MySQL
            %li.portfolio__main__skill__box__field__lang__list
              postgresql
          %ul.portfolio__main__skill__box__field__period
            経験年数
            %li.portfolio__main__skill__box__field__period__list
              3ヶ月
            %li.portfolio__main__skill__box__field__period__list
              10日
      .portfolio__main__skill__box
        .portfolio__main__skill__box__field
          .portfolio__main__skill__box__field__title
            インフラ・サーバー
          %ul.portfolio__main__skill__box__field__lang
            技術
            %li.portfolio__main__skill__box__field__lang__list
              AWS(EC2・S3)
            %li.portfolio__main__skill__box__field__lang__list
              heroku
          %ul.portfolio__main__skill__box__field__period
            経験年数
            %li.portfolio__main__skill__box__field__period__list
              1ヶ月
            %li.portfolio__main__skill__box__field__period__list
              10日
        .portfolio__main__skill__box__field
          .portfolio__main__skill__box__field__title
            その他
          %ul.portfolio__main__skill__box__field__lang
            技術
            %li.portfolio__main__skill__box__field__lang__list
              git
            %li.portfolio__main__skill__box__field__lang__list
              slack
          %ul.portfolio__main__skill__box__field__period
            経験年数
            %li.portfolio__main__skill__box__field__period__list
              3ヶ月
            %li.portfolio__main__skill__box__field__period__list
              3ヶ月
    .portfolio__main__works
      %h2.portfolio__main__works__title
        works
      .portfolio__main__works__field
        .portfolio__main__works__field__box.portfolio-image
          .portfolio__main__works__field__box__img
            = image_tag "portfolio.jpg", class: "portfolio__main__works__field__box__img__url"
          .portfolio__main__works__field__box__title
            ポートフォリオ
        .portfolio__main__works__field__box.freemarket-image
          .portfolio__main__works__field__box__img
            = image_tag "freemarket.png", class: "portfolio__main__works__field__box__img__url"
          .portfolio__main__works__field__box__title
            フリーマーケットアプリ
        .portfolio__main__works__field__box.saaaaving-image
          .portfolio__main__works__field__box__img
            = image_tag "saaaaving.png", class: "portfolio__main__works__field__box__img__url"
          .portfolio__main__works__field__box__title
            貯金アプリ
        .portfolio__main__works__field__box.myblog-image
          .portfolio__main__works__field__box__img
            = image_tag "myblog.png", class: "portfolio__main__works__field__box__img__url"
          .portfolio__main__works__field__box__title
            ブログアプリ
  .portfolio__detail.detail-portfolio
    .portfolio__detail__title
      Portfolio site
    .portfolio__detail__box
      .portfolio__detail__box__url
        .portfolio__detail__box__url__title
          URL :
        .portfolio__detail__box__url__cord
          = link_to "https://yuichiro-portfolio.herokuapp.com/", "https://yuichiro-portfolio.herokuapp.com/" 
      .portfolio__detail__box__source
        .portfolio__detail__box__source__title
          ソースコード :
        .portfolio__detail__box__source__cord
          = link_to "https://github.com/YUICHIROONUKI/portfolio", "https://github.com/YUICHIROONUKI/portfolio"
      .portfolio__detail__box__description
        .portfolio__detail__box__description__title
          説明 :
        .portfolio__detail__box__description__cord
          このサイトです。ビューに関してはhaml、sassで書いてます。
          %br
          メニューをクリックした時のスクロールなどに関してはjqueryを使って書いてます。
      .portfolio__detail__box__skill
        .portfolio__detail__box__skill__title
          使用した技術 :
        .portfolio__detail__box__skill__cord
          RubyonRails・haml・sass・jquery
  .portfolio__detail.detail-freemarket
    .portfolio__detail__title
      フリーマーケットアプリ
    .portfolio__detail__box
      .portfolio__detail__box__url
        .portfolio__detail__box__url__title
          URL :
        .portfolio__detail__box__url__cord
          =link_to "http://13.115.88.33/", "http://13.115.88.33/"
          %br
          ID/Pass
          %br
          ID : admin
          %br
          Pass : 49c
          %br
          %br
          テスト用アカウント
          %br
          購入者用
          %br
          メールアドレス : buyer@gmail.com
          %br
          パスワード : buyer_user
          %br
          %br
          購入用カード情報
          %br
          番号 : 4242424242424242
          %br
          %br
          出品者用
          %br
          メールアドレス名 : seller@gmail.com
          %br
          パスワード : seller_user
      .portfolio__detail__box__source
        .portfolio__detail__box__source__title
          ソースコード :
        .portfolio__detail__box__source__cord
          = link_to "https://github.com/YUICHIROONUKI/freemarket_sample_49c", "https://github.com/YUICHIROONUKI/freemarket_sample_49c"
      .portfolio__detail__box__description
        .portfolio__detail__box__description__title
          説明 :
        .portfolio__detail__box__description__cord
          5人で共同開発をした商品の出品や購入ができるフリーマーケットアプリです。
          %br
          スクラムマスターを務め、メンバーのタスク管理を行いました。
          %br
          実装箇所としてはフロントエンドが商品詳細ページ、ユーザー新規登録ページ、商品検索一覧ページです。
          %br
          サーバーサイドがユーザー新規登録・ログイン、クレジット登録・決済、sns認証、商品検索、
          %br
          AWSによるデプロイ、データベース設計、非同期通信によるコメント機能・recaptchaです。
          %br
          開発期間は約三週間です。
      .portfolio__detail__box__skill
        .portfolio__detail__box__skill__title
          使用した技術 :
        .portfolio__detail__box__skill__cord
          RubyonRails・haml・sass・jquery・payjp・AWS・facebookdevelopper・recaptcha・MySQL
  .portfolio__detail.detail-saaaaving
    .portfolio__detail__title
      貯金アプリ
    .portfolio__detail__box
      .portfolio__detail__box__url
        .portfolio__detail__box__url__title
          URL :
        .portfolio__detail__box__url__cord
          = link_to "http://saaaving.herokuapp.com/", "http://saaaving.herokuapp.com/" 
          %br
          サンプルアカウント
          %br
          name : sample
          %br
          email : sample@gmail.com
          %br
          password : sampleuser
      .portfolio__detail__box__source
        .portfolio__detail__box__source__title
          ソースコード :
        .portfolio__detail__box__source__cord
          = link_to "https://github.com/YUICHIROONUKI/saaaaving", "https://github.com/YUICHIROONUKI/saaaaving"
      .portfolio__detail__box__description
        .portfolio__detail__box__description__title
          説明 :
        .portfolio__detail__box__description__cord
          貯金額をリアルタイムで表示するアプリです。
          %br
          ユーザーの平均月給、目標金額、目標到達日を設定し到達日までのタイムリミット、
          %br
          平均月給から計算した毎秒の貯蓄を表示します。
          %br
          また現在の貯蓄額のリアルタイムチャートも導入しております。
          %br
          開発期間は一週間です。
      .portfolio__detail__box__skill
        .portfolio__detail__box__skill__title
          使用した技術 :
        .portfolio__detail__box__skill__cord
          RubyonRails・haml・sass・jquery・chart.js
  .portfolio__detail.detail-myblog
    .portfolio__detail__title
      ブログアプリ
    .portfolio__detail__box
      .portfolio__detail__box__url
        .portfolio__detail__box__url__title
          URL :
        .portfolio__detail__box__url__cord
          = link_to "https://yuichiro-myblog.herokuapp.com", "https://yuichiro-myblog.herokuapp.com"
          %br
          サンプルアカウント
          %br
          name : sample
          %br
          email : sample@gmail.com
          %br
          password : sampleuser
      .portfolio__detail__box__source
        .portfolio__detail__box__source__title
          ソースコード :
        .portfolio__detail__box__source__cord
          = link_to "https://github.com/YUICHIROONUKI/myblog", "https://github.com/YUICHIROONUKI/myblog"
      .portfolio__detail__box__description
        .portfolio__detail__box__description__title
          説明 :
        .portfolio__detail__box__description__cord
          ユーザー登録・ログイン、記事の投稿、編集、閲覧、削除、詳細表示の機能を実装しました。
          %br
          プログラミングを学習し始めて二週間の時に初めて作ったアプリです。
          %br
          開発期間は４日です。
      .portfolio__detail__box__skill
        .portfolio__detail__box__skill__title
          使用した技術 :
        .portfolio__detail__box__skill__cord
          RubyonRails・haml・sass
  %footer.portfolio__footer
    .portfolio__footer__box
      .portfolio__footer__box__title
        CONTACT
      .portfolio__footer__box__mail
        yuichiro.o0209@gmail.com
      .portfolio__footer__box__or
        or
      .portfolio__footer__box__twitter
        =link_to "https://twitter.com/yuichir43705457" do
          %i.fab.fa-twitter-square.portfolio__footer__box__twitter__icon
